* {
  box-sizing: border-box;
  color: gray;
  font-family: Helvetica, sans-serif;
}

#grid {

}
span {
  margin: 2px;
}

.tile {
  float: left;
  width: 24%;
  border: 2px solid gray;
  margin: 0.5%;
  background: url(images/geometry2.png);
}

.tile img {
  width: 100%;
  display: block;
  visibility: hidden;
  background-color: white;
}

.tile.open img {
  visibility: visible;

}

.tile.match img {
  visibility: visible;
}
